<nav class="navbar navbar-expand-sm navbar-default">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
                <div>
                        <h3 class="navbar-brand js-scroll-trigger"><a href="/">Klima Kage</a></h3>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                Menu
                                <i class="fas fa-bars"></i>
                        </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="usrname">
                                                <i class="far fa-user-circle" style="padding: 0 2px;"></i>Admin
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/profile">Information</a>
                                                <a class="dropdown-item" href="#">Your post</a>
                                                <a class="dropdown-item" href="https://engineering.eyeq.tech/login/">Setting</a>
                                                <a class="dropdown-item" href="/logout">Log Out</a>
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
