<%layout('./partials/homeLayout')%>
<!--<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 text-center bg-light">-->
    <!--<div class="col-md-12 p-lg-1 mx-auto my-2" >-->
<link rel="stylesheet" href="/css/lib/agency.css">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="position: fixed; bottom: 20px; right: 20px">
    Chat
</button>

<!-- Modal -->
<div class="modal float-left" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chat Box</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" style="margin-top: 200px">
                    <div class="row pad-top pad-bottom">
                        <div class=" col-lg-12 col-md-12 col-sm-12">
                            <div class="chat-box-div">
                                <div class="chat-box-head">

                                    <!--<div class="btn-group pull-right">-->
                                    <!--<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
                                    <!--<span class="fa fa-cogs"></span>-->
                                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" role="menu">-->
                                    <!--<li><a href="#"><span class="fa fa-map-marker"></span> Invisible</a></li>-->
                                    <!--<li><a href="#"><span class="fa fa-comments-o"></span> Online</a></li>-->
                                    <!--<li><a href="#"><span class="fa fa-lock"></span> Busy</a></li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li><a href="#"><span class="fa fa-circle-o-notch"></span> Logout</a></li>-->
                                    <!--</ul>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="panel-body chat-box-main">
                                        <hr class="hr-clas" />
                                        <div class="chat-box-right">
                                        </div>
                                        <div class="chat-box-name-right">
                                            <p id="chatSend" style="margin-right: 20px"></p>
                                        </div>
                                        <div class="chat-box-right">
                                            <p id="chatReply"></p>
                                        </div>

                                    </div>
                                    <div class="chat-box-footer" >
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Enter Text Here..." id="inputString">
                                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" onclick="btnClickSend()">SEND</button>
                            </span>
                                            <script>
                                              function btnClickSend() {
                                                var datasend = document.getElementById('inputString').value;
                                                document.getElementById('chatReply').innerHTML = "";
                                                document.getElementById('chatSend').innerHTML = datasend;
                                                var flickerAPI = "https://api.susi.ai/susi/chat.json?timezoneOffset=-420&q="+datasend;
                                                var dataResponse = 'null';
                                                $.getJSON( flickerAPI, {
                                                  tags: "mount rainier",
                                                  tagmode: "any",
                                                  format: "json"
                                                })
                                                  .done(function( data ) {
                                                    try
                                                    {
                                                      dataResponse = data.answers[0].actions[0].expression;
                                                      console.log(data.answers[0].actions[0].expression);
                                                      document.getElementById('chatReply').innerHTML =dataResponse;
                                                      document.getElementById('inputString').value= "";
                                                    }
                                                    catch{
                                                      document.getElementById('chatReply').innerHTML = "Susi can not reply";
                                                    }
                                                  });


                                              }
                                            </script>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../img/arctic.jpg" alt="Climate Change">
                    <div class="carousel-caption d-none d-md-block" style="background-color: transparent; color: black">
                        <h5>Glacier Melting</h5>
                        <p>Climate change, the proverbial hot topic of the modern age, concerns everyone of us.
                            As Earth is our only home, protecting the environment is a cause definitely worth fighting for.
                            However, before we can make a difference, we must understand what climate change is really about, what problem it causes
                            and what are the solutions. Therefore, we are here to help.</p>
                    </div>
                </div>
                <div class="carousel-item" style="margin-top: -100px">
                    <img class="d-block w-100" src="../../img/desert.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block" style="background-color: transparent">
                        <h5>Desertification</h5>
                        <p>Climate change, the proverbial hot topic of the modern age, concerns everyone of us.
                            As Earth is our only home, protecting the environment is a cause definitely worth fighting for.
                            However, before we can make a difference, we must understand what climate change is really about, what problem it causes
                            and what are the solutions. Therefore, we are here to help.</p>
                    </div>
                </div>
                <div class="carousel-item" style="margin-top: -100px">
                    <img class="d-block w-100" src="../../img/typhoon.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block" style="background-color: transparent; color: black">
                        <h5>Super Typhoon</h5>
                        <p>Climate change, the proverbial hot topic of the modern age, concerns everyone of us.
                            As Earth is our only home, protecting the environment is a cause definitely worth fighting for.
                            However, before we can make a difference, we must understand what climate change is really about, what problem it causes
                            and what are the solutions. Therefore, we are here to help.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div>
        <script>
          $('.carousel').carousel({
            interval: 2000
          })
        </script>
            <!--<h1 class="display-4">Biker paradise</h1>-->
            <!--<p class="lead">Explore the lastest news about motorbike</p>-->
            <!--<a class="btn btn-outline-secondary" href="/forum">Getting started</a>-->
        <!--</div>-->

    <!--</div>-->
</div>
<!--<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">-->
    <!--<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col">-->
        <!--<div class="my-3 py-3">-->
            <!--<h2 class="display-5">Compare</h2>-->
            <!--<p class="lead">with details.</p>-->
        <!--</div>-->
        <!--<div class="bg-light mx-auto" style="height: 300px; width: 80%; border-radius: 21px 21px 0 0;"></div>-->
    <!--</div>-->
    <!--<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col">-->
        <!--<div class="my-3 py-3">-->
            <!--<h2 class="display-5">Motorbikes</h2>-->
            <!--<p class="lead">which you are confused with.</p>-->

        <!--</div>-->
        <!--<div class="bg-dark mx-auto" style="height: 300px; width: 80%; border-radius: 21px 21px 0 0;"></div>-->
    <!--</div>-->
<!--</div>-->
<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Guide Book</h2>
                <h3 class="section-subheading text-muted">Important sections from UNESCO Handbook for Journalists Reporting on
                    Climate Change and Sustainable Development in
                    Asia and the Pacific</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <!--<a href="/forum/newforum" class="btn btn-block btn-white">-->
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide1.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Start</h4>
                    <p class="text-muted">A brief introduction to climate change</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide2.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Essentials</h4>
                    <p class="text-muted">Overview of important concepts</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide3.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Problems</h4>
                    <p class="text-muted">In-dept problems caused by climate change</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide4.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Solutions</h4>
                    <p class="text-muted">In-depth solutions to climate change</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide5.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Policies</h4>
                    <p class="text-muted">Climate change policies and plan</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../img/Slide6.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Your Story</h4>
                    <p class="text-muted">Start your first report on climate change</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Get Started</h2>
                            <p class="item-intro text-muted">Recommended for first time user</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                            <p>To get started you can watch

                                this short video to get a good overview of what climate change is all about.</p>
                            <p>  <iframe width='100%' height='450px' src="https://www.youtube.com/embed/KJbRnv7rMkk" frameborder="0" allowfullscreen></iframe>
                                <!--<iframe id="cartoonVideo" width=100% height=405px src="https://youtu.be/embed/KJbRnv7rMkk"> </iframe> -->
                            </p>
                            <script>

                            </script>
                            <p>This guide will give you a brief introduction about the aspects of climate change, including:</p>
                            <ul class="list-inline">
                                <li>Essential concepts: The current situation and some key points you should know.</li>
                                <li>Indepth problems: The many problems which are caused by climate change.</li>
                                <li>Indepth solutions: Solutions to the problems that are currnetly implemented.</li>
                                <li>Policies: The policies that have been implemented to combat against climate change.</li>
                                <li>Writer tutorial: How to write a successful story about climate change.</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Essentials</h2>
                            <p class="item-intro text-muted">What you should know first to understand climate change</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
                            <p>This section will answer the question "why climate change matter to journalists?"
                                As well as explaining some key concepts that every journalists should know when reporting on this issue.
                                In addition, this guide will also discuss the gender dimension of climate change, how it is affecting female diffrently.
                            </p>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Problems</h2>
                            <p class="item-intro text-muted">Discussing problems caused by climate change indepth.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
                            <p>This section discuss the causes of and the problem that follows climate change. Aside from the most prevalent effect of climate change, which is global warming, it also brings about many problems which includes:</p>
                            <ul class="list-inline">
                                <li>Natural disasters: erratic precipiation, extreme events and rising sea level.</li>
                                <li>Declining food security and humnan health.</li>
                                <li>Social stability: conflicts surrounding resources and climate migration.</li>
                                <li>Financial implication of climate change.</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Solutions</h2>
                            <p class="item-intro text-muted">How to combat against climate change</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
                            <p>This section will now discuss the solutions to climate change. There are two main types of solution: mitigation,
                                which is about slowing down the effect of climate change and adaptation which is
                                about adapting to the impact of climate change. The following solutions are discussed:</p>
                            <ul class="list-inline">
                                <li>Policy: REDD+</li>
                                <li>Renewable energy.</li>
                                <li>Agricultural changes.</li>
                                <li>Various method of adaptations.</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Policies</h2>
                            <p class="item-intro text-muted">International treaties to climate change</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
                            <p>The international community created the UN Framework Convention on Climate Change
                                (UNFCCC) in 1992 to prevent dangerous climate change. Under the Convention, nearly 200
                                nations agreed to protect the climate system for present and future generations according to
                                their “common but differentiated responsibilities and respective capabilities. The UNFCCC has had certain impacts through their conventions and requirements for governments to do in the Asia and the Pacific. The Association of Southeast Asian Nations (ASEAN), Pacific Island Countries and Territories
                                and regional bodies in Asia and the Pacific all have taken initiatives to address climate change. Countries in Asia and the Pacific have responded to climate change with varying degrees of
                                pace and ambition. Some developed national climate change strategies while others have
                                plans that relate to specific sectors such as agriculture or water.  </p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Your Story</h2>
                            <p class="item-intro text-muted">Start reporting on climate change</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
                            <p>In order to raise awareness and consciousness of climate change, it is essential to have open and honest channels of communication on climate
                                change that provide platforms for discourse and deliberations among policy makers,
                                activists, academics, corporations and citizen in the hope to work towards transformation
                                and a more sustainable environment. Media plays a very important role here. To cover
                                reports on climate change, this section provides some tips to find and write better stories,
                                as well as how to report on specific aspects of climate change.</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Chart</h2>
        </div>
    </div>
    <div>
        <iframe src="https://ourworldindata.org/grapher/cumulative-co-emissions" style="width: 100%; height: 600px; border: 0px none;"></iframe>

    </div>
</div>
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Recommended Data</h2>
        </div>
    </div>
    <div>
        <!-- <iframe src="https://data.worldbank.org/share/widget?end=2014&indicators=NV.AGR.TOTL.ZS&start=1993&topics=%5Bobject%20Object%5D" width='410' height='300' frameBorder='0' scrolling="no" ></iframe>
        <iframe src="https://data.worldbank.org/share/widget?end=2014&indicators=AG.LND.ARBL.ZS&start=1960&topics=%5Bobject%20Object%5D" width='410' height='300' frameBorder='0' scrolling="no" ></iframe>
        <iframe src="https://data.worldbank.org/share/widget?end=2013&indicators=SE.PRM.CMPT.FE.ZS&locations=1W&start=1972&view=chart" width='410' height='300' frameBorder='0' scrolling="no" ></iframe> -->
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <iframe src="https://data.worldbank.org/share/widget?end=2014&indicators=NV.AGR.TOTL.ZS&start=1993&topics=%5Bobject%20Object%5D" width='350' height='300' frameBorder='0' scrolling="no" ></iframe>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <iframe src="https://data.worldbank.org/share/widget?end=2014&indicators=AG.LND.ARBL.ZS&start=1960&topics=%5Bobject%20Object%5D" width='350' height='300' frameBorder='0' scrolling="no" ></iframe>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <iframe src="https://data.worldbank.org/share/widget?end=2013&indicators=SE.PRM.CMPT.FE.ZS&locations=1W&start=1972&view=chart" width='350' height='300' frameBorder='0' scrolling="no" ></iframe>
        </div>
    </div>
</div>
</section>

<script src="/js/lib/agency.js"></script>
<script src="/js/lib/agency.min.js"></script>
<!--<script>-->
    <!--var navbar = document.getElementsByClassName('navbar');-->
    <!--navbar[0].classList.add('fixed-top');-->
<!--</script>-->
