
<%layout('./partials/homeLayout')%>



<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg'); margin-top: 120px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Commentary: Rising temperatures will make Southeast Asian economies sweat</h1>
                    <span class="meta">Posted by
                <a href="#">Richard Hewston</a>
                on October 08, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Climate change could wreak havoc on productivity in Southeast Asia and increase business risks, says one environment expert.</p>

                <p>SINGAPORE: Climate change does not discriminate, but some regions of the world are going to suffer more than others. And Southeast Asia is in the direct firing line.</p>

                <p>As climate change increases the strength and frequency of storms and pushes temperatures to new heights we will see it play an ever more central role in economic crises, mass migration, political instability, civil unrest, ecosystem breakdown, and food and water insecurity.</p>

                <p>Research is revealing a growing number of reasons – some obvious, some much less so – as to how changes in a country’s weather can impact the local population and the wider economy.</p>

                <p>Unchecked, climate change could wipe billions off the global economy, with most estimates putting the figure at 1 to 2 per cent of global GDP by 2050. For Southeast Asia the projected impacts equate to 3 per cent of regional GDP.</p>

                <p>Unless mitigation strategies and investment are put in place, longer term shocks await governments, companies and communities. Rising temperatures are likely to seriously dent exports in the region and put unprecedented pressure on already weak electricity supplies, as nations try to stay cool in the heat.</p>

                <h2 class="section-heading">WARMING PLANET COOLS EXPORT MARKETS</h2>

                <p>Verisk Maplecroft’s data identifies Southeast Asian and African economies are set to face the greatest impact of rising temperature over the next 30 years, and one of the effects will include a reduction in export revenues.</p>

                <p>By mid-century, Southeast Asia could experience a 16 per cent drop in labour capacity due to rising rates of heat stress, and Singapore and Malaysia are projected to be the hardest hit.</p>

                <p>Heat stress can reduce worker productivity by causing dehydration and fatigue, with workers in the agricultural, oil and gas, and manufacturing sectors among the most susceptible due to the intensity of the work.</p>

                <p>Using current export values, which do not consider future growth or diversification of export sectors, future decreases in labour capacity could translate into an estimated loss of US$78 billion per year in Southeast Asia’s export revenue.</p>

                <p>The manufacturing sectors in Vietnam and Thailand – key exporters of machinery and electrical components – together account for almost a third of that figure.</p>

                <h2 class="section-heading">POWER SYSTEMS FEEL THE HEAT</h2>

                <p>Mitigating the risks posed by rising temperatures is an expensive business. Take the installation of cooling systems, for example. 

                    Companies will need to factor in not only the extra production costs of paying for cooling, but the added burden that this places on local electricity infrastructure and the increased risk of power outages. </p>
                
                <p>Amid more severe and prolonged heatwaves and rampant urbanisation, the global energy use for cooling is predicted to triple by 2050. By that point, an additional 2.7 billion people will be living in cities, placing a further strain on electricity infrastructure.</p>

                <p>Just look at the blackout in Singapore on Sep 18 – and imagine what more frequent power outages will do. Urbanisation rates are particularly high in emerging economies, many of which are in regions set to undergo the greatest warming.</p>

                <p>Electricity infrastructure in Southeast Asia is already among the weakest globally. On average, countries in the region lose 18 per cent of supply during distribution and transmission, and businesses suffer an average of eight power outages per month.</p>

                <p>With a projected 1.5 degree Celsius warming across Southeast Asia by 2050, we expect cooling demand to increase by 22 per cent in Malaysia, Indonesia and Thailand, and by 20 per cent in the Philippines and 17 per cent in Singapore. 

                        Without upgrades to electricity infrastructure, the added load on regional networks will likely result in more frequent power outages.</p>
                
                
                <h2 class="section-heading">THE COST OF MITIGATION</h2>

                <p>The Paris Climate Change Agreement, which came into effect in 2016, seeks to cap global temperature increase to “well below” two degree Celsius. 

                        Given how slowly we are reducing carbon emissions globally, the planet is locked into at least one degree Celsius of warming by mid-century; and every year we fail to make significant and sustained reductions in carbon emissions the challenge becomes harder.</p>

                <p>So, as temperatures rise, engineers, health professionals and economists will continue the intractable battle to both understand the associated risks and find solutions to offset the worst effects of rising temperatures.</p>

                <p>Some administrations and businesses have begun investing in climate change adaptation measures, such as the hard walls and stone embankments that comprise 70 per cent of Singapore’s coastline. However, the UN estimates the full global costs could reach US$500 billion per year by 2050.</p>

                <p>Recent estimates put current annual financing at just over US$20 billion. With Southeast Asian countries among those set to lose the most due to climate change, a gap this wide is likely to make the region's governments sweat.</p>
            </div>
        </div>
    </div>
</article>

<hr>

<!-- Bootstrap core JavaScript -->

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>

</body>

</html>
